@page "/room/edit/{RoomId}"
@rendermode InteractiveServer
@using HMS.Data
@using HMS.Services
@using Microsoft.AspNetCore.Authorization
@inject IRoomService roomService
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Administrator")]

<h3 Class="text-center">Add Room</h3>

<button Class="ml-auto mt-3 btn btn-sm btn-link" @onclick="GoToList">Room List</button>

<EditForm FormName="EditRoom" Model="model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col">
            <label for="hotelSelect" class="mt-3">Room Type</label>
            <select id="roomTypeSelect" class="form-control" @bind="model.RoomType">
                <option value="">-- Select Type --</option>
                @if (roomTypes.Count > 0)
                {
                    @foreach (var roomType in roomTypes)
                    {
                        <option value="@roomType">@roomType</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => model.RoomType)" />

            <InputText Placeholder="Room Number" Class="form-control mt-3" @bind-Value="@model.RoomNumber" For="@(() => model.RoomNumber)" />
            <ValidationMessage For="@(() => model.RoomNumber)" />

            <label for="pricePerNight" class="mt-3">Price Per Night</label>
            <InputNumber @bind-Value="@model.PricePerNight" id="pricePerNight" Class="form-control mt-3" />
            <ValidationMessage For="@(() => model.PricePerNight)" />

            <div class="form-check mt-3">
                <InputCheckbox Class="form-check-input" @bind-Value="@model.IsAvailable" />
                <label class="form-check-label">Is Available</label>
            </div>

            @if (success)
            {
                <div class="text-success success-message">Room updated successfully!</div>
            }

            <button type="submit" Class="ml-auto mt-3 btn btn-sm btn-outline-primary">Save</button>
        </div>
    </div>
</EditForm>

@code {
    Room model = new Room();
    [Parameter] public string? RoomId { get; set; }
    bool success;
    private List<RoomType> roomTypes = new List<RoomType>();

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(RoomId) || !int.TryParse(RoomId, out int id))
        {
            GoToList();
        }
        else
        {
            var existingRoom = await roomService.GetRoomByIdAsync(id);
            if (existingRoom != null)
            {
                model = existingRoom;
                StateHasChanged();
            }
            else
            {
                GoToList();
            }
        }
        roomTypes = Enum.GetValues(typeof(RoomType)).Cast<RoomType>().ToList();
    }

    private async void OnValidSubmit(EditContext context)
    {
        success = false; // Reset success before each submission
        var updated = await roomService.UpdateRoomAsync(model);
        if (updated)
        {
            success = true;
            StateHasChanged();
            await Task.Delay(1500); // Wait for 2 seconds
            GoToList(); // return to list after 2 seconds
        }

        StateHasChanged();
    }

    private void GoToList()
    {
        navigation.NavigateTo("room");
    }

}
